* {
    font-family: 'Rubik', sans-serif;
}

#container {
    min-height: 100vh;
}

.margin-page {
    padding: 40px 10%;
}

a {
    text-decoration: none;
}

.hyperlink:visited {
    text-decoration: none;
    color: #000000;
}