#create-user-page {
    padding: 40px 10%;
}

#create-user-header {
    margin-bottom: 20px;
}

#create-user-form {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.input-field {
    height: 20px;
    border: none;
    border-bottom: 2px solid #000000;
    margin: 10px 0;
    width: 100%;
}

.input-error {
    border-bottom: 2px solid red;
}

.error {
    color: red;
    overflow: hidden;
    margin-top: 0px;
}

.create-user-button {
    color: #FFFFFF;
    background-color: #000000;
    margin: 20px 0;
    width: 180px;
    height: 40px;
    border-radius: 20px;
    font-size: 18px;
}

.create-user-button:hover {
    cursor: pointer;
    background-color: #484848;
}