#sidebar {
    /* border: 1px solid #000000; */
    height: 100vh;
    padding: 10px;
    grid-column: 1 / 2;
    position: sticky;
    top: 30px;
}

.dropdown {
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;
    border-radius: 2px;
    border-bottom: 1px solid #D3D3D3;
}

.dropdown:hover {
    cursor: pointer;
    background-color: #E5E5E5;
}

.checkbox-label:hover {
    cursor: pointer;
}

.checkbox {
    margin: 5px;
}